[general]
csv_dir = csv_output
processed_dir = processed_csv
log_file = splunk_duplicate_remover.log
max_workers = 1     ## Max concurrent searches to fire to Splunk, start conservative
batch_size = 5000   ## For better performance, separate into smaller batches of 5000 events

[splunk]
url = https://your-splunk-cloud-instance.splunkcloud.com
jwt_token = your_jwt_token_here
verify_ssl = True
ttl = 180            ## Job time-to-live in seconds

[search]
index = your_index_name
start_time = 2025-04-06T00:00:00
end_time = 2025-04-07T00:00:00